* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter {
    display: inline-flex;
    column-gap: 7px;
    align-items: center;
    user-select: none;
}
.counter button {
     flex: 0 0 30px;
     height: 30px;
     border: 1px solid #000;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

.counter input {
    width: 100%;
    border: none;
    text-align: center;
}
